<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="naver-site-verification" content="dc824641c4ce66eb99be1796aec599b115e8cadd"/>
    <meta name="google-site-verification" content="e4nXzJr952ADYWOcV4xMC0zcNZ8hbfvracvLBrPHyjY" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
     <link href="/fa/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>김선일의 Blog</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but blog doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
