<template>
  <div>
    <v-layout align-center justify-center fill-height>
    <v-img  src="main1.jpg"  >
      <v-layout align-center justify-center fill-height>
        <span class="text-shadow display-2 font-weight-black">
          꼼꼼한
          <br class="hidden-sm-and-up">
          블록체인 
          <br class="hidden-sm-and-up">
          엔지니어
          <br>
          김선일 입니다
        </span>
      </v-layout>
    </v-img>
    </v-layout>
    <Typing class="mt-5" text="print('MyCareers');$//가운데 원 위에 마우스 올릴 시 사진 출력" />
    <v-timeline dark >
      <v-timeline-item
        v-for="(year, i) in years"
        :key="i"
        :color="year.color"
        class="timeline mb-5"
      >
        <template v-slot:icon >
          <v-tooltip top v-model="year.show">
            <template v-slot:activator="{ on }" >
              <v-btn icon flat :color="years.color" @mouseover="year.show = true" ></v-btn>
            </template>
            <div @mouseleave="year.show = false" @click="year.show = false" >
              <v-tooltip v-model="year.show"  >
                사진을 클릭하거나 사진 밖으로 마우스를 옮기면 사라집니다.
              </v-tooltip>
              <v-img class="img" :src="year.img"></v-img>
            </div>
          </v-tooltip>
        </template>
        <template v-slot:opposite class="text-xs-right" >
          <span :class="`headline font-weight-bold  ${year.color}--text`">{{year.year}}</span>
        </template>
        <div class="py-5">
          <h2 :class="`headline font-weight-light mb-3 ${year.color}--text`">{{year.context}}</h2>
          <div class="white--text text-shadow2">{{year.context}}</div>
        </div>
      </v-timeline-item>
    </v-timeline>
  </div>
</template>

<script>
import Typing from "../components/Typing.vue";

export default {
  components: {
    Typing
  },
  data: () => ({
    years: [
      {
        color: "cyan",
        year: "2018. 02",
        context: "전남대학교 소프트웨어공학과 졸업",
        img: "graduate_univ.jpg",
        show: false
      },
      {
        color: "green",
        year: "2018. 12",
        context: "삼성 청년 소프트웨어 아카데미 입소",
        img: "ptj2.jpg",
        show: false
      },
      {
        color: "pink",
        year: "2019. 05",
        context: "삼성 청년 소프트웨어 아카데미 성적 우수",
        img: "grade.jpg",
        show: false
      },
      {
        color: "amber",
        year: "2019. 10",
        context: "삼성 청년 소프트웨어 아카데미 특화프로젝트 우수",
        img: "ptj2.jpg",
        show: false
      },
      {
        color: "orange",
        year: "2019. 11",
        context: "삼성 청년 소프트웨어 아카데미 심화프로젝트 우수",
        img: "ptj2.jpg",
        show: false
      },
      {
        color: "cyan",
        year: "2019. 11",
        context: "삼성 청년 소프트웨어 아카데미 광주지방노동청장상 수여",
        img: "grade2.jpeg",
        show: false
      },
      {
        color: "green",
        year: "2019. 11",
        context: "삼성 청년 소프트웨어 아카데미 SW Certificate 수여",
        img: "graduate.jpg",
        show: false
      }
    ]
  })
};
</script>

<style scoped>
.img {
  width: 70vw;
  height: 90vh;
}

.text-shadow {
  text-shadow: 0 0 15px  rgb(44, 39, 39); 
  line-height: 1.2em;
  font-size: 1.2em;
  animation: blink 2s linear infinite;
}

.text-shadow2 {
  /* text-shadow: 0 0 15px  rgb(255,255,255); 
   */
   animation: blink 2s linear infinite;
}

.fade-in {
  animation: fade-in 1s linear infinite;
}

@-webkit-keyframes blink {
    0% { text-shadow: 0 0 15px  rgb(255,255,255); }
    50% { text-shadow: 0 0 15px  rgb(44, 39, 39); }
    100% { text-shadow: 0 0 15px  rgb(255,255,255); }
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
/* .blink {
    -webkit-animation: blink 2s linear infinite;
} 
@-webkit-keyframes blink {
    0% { background-color: cyan; }
    50% { background-color: rgb(72, 255, 0);}
    100% { background-color: cyan; }
} */
</style>

