<template>
  <div>
    <div class="hidden-md-and-up">
      <br />
      <br />
    </div>
    <v-tabs grow left dark color="rgb(44, 39, 39)">
    <v-tab
      v-for="(tab, n) in tabs"
      :key="n"
      :href="`#tab-${n}`"
    >
      {{tab}}
    </v-tab>

<v-tabs-items  class="mt-5">
    <v-tab-item :value="`tab-0`">
    <v-card dark>
      <v-btn fab large top left absolute>
        <v-img :src="'https://solved.ac/res/tier-large/'+ boj.level +'.svg'" class="blink-shadow" />
      </v-btn>
      <v-card-text hover class="text-xs-left ml-5">
        <!-- <v-btn large disabled> -->
        <!-- </v-btn> -->
        <span
          class="ml-5"
          style="font-size: 2rem;
    font-weight: bold;
    vertical-align: middle"
        >KSL930425</span>
      </v-card-text>
      <v-tooltip bottom v-for="problem in problems" v-bind:key="problem[1]">
        <template v-slot:activator="{ on }">
          <v-chip color="green" small v-on="on" @click="goURL('s')">{{problem[1]}}</v-chip>
        </template>
        <span>{{problem[2]}}</span>
      </v-tooltip>

      <v-data-table
        dark
        :headers="headers"
        :items="problems"
        :loading="loading"
        :pagination.sync="paging"
        class="elevation-1"
      >
        <template v-slot:no-data>
          <v-progress-circular indeterminate color="orange" class="my-3"></v-progress-circular>
        </template>
        <template v-slot:items="props">
          <td class="text-xs-left">
            <v-btn icon disabled small>
              <v-img :src="'svg/'+ props.item[3] +'.svg'" />
            </v-btn>
            <span style="vertical-align: middle">{{ props.item[1] }}</span>
          </td>
          <td class="text-xs-left">
            <a :href="'https://www.acmicpc.net/problem/' + props.item[1]">{{ props.item[2] }}</a>
          </td>
        </template>
      </v-data-table>
    </v-card>
    </v-tab-item>
    <v-tab-item :value="`tab-1`">
      <v-card dark>
        <v-card-text hover class="text-xs-left ml-5">
        SoftWare Expert Academy Algorithms
        </v-card-text>
      </v-card>
    </v-tab-item>
  </v-tabs-items>

  </v-tabs>
  

    <svg width="50vw">
      <template v-for="i in 40">
        <template v-for="j in 5">
          <rect width="15" height="15" :x="i * 17" :y="17 * j" class="day" v-bind:key="i +'' + j" />
          <!-- <div v-bind:key="i+j">{{i}} {{j}}</div> -->
        </template>
      </template>
    </svg>
    <h4>오늘의 알고리즘 푼 갯수 : {{todaySolved.length}}</h4>
    <div class="mark">
      알고리즘 와사비밭 들어갈 자리
      <br />알고리즘 사이트들의 API 부재로 인해 레포지터리의 커밋횟수로 카운팅한다.
      <br />기본적으로 gitlab의 와사비밭과 유사하게 만들 예정
    </div>
  </div>
</template>

<script>
import GitlabService from "../services/GitlabService";
import SolvedAcService from "../services/SolvedAcService";
export default {
  data() {
    return {
      todaySolved: [],
      problems: [],
      posts: [],
      headers: [
        { text: "난이도 / 문제 번호", sortable: true, value: "no" },
        { text: "문제 이름", sortable: false, value: "name" }
      ],
      loading: true,
      boj: { level: 0 },
      paging: {
        rowsPerPage: 10
      },
      tabs: ["BOJ", "SWEA"]
    };
  },
  mounted() {
    this.getProblems();
    this.getTodayAlgorithmSolved();
    this.getBojInfo();
  },
  methods: {
    async getBojInfo() {
      let user = await SolvedAcService.getMyInfo();
      this.boj = user.data;
      console.log(this.boj);
    },
    async getProblems() {
      let tmp = await GitlabService.getAlgorithmFiles();
      let tmpArr = [];
      for (let i = 0; i < tmp.length; i++) {
        tmpArr.push(await this.parseName(tmp[i].name));
      }
      tmpArr.sort(function(a, b) {
        return a[1] - b[1];
      });
      this.problems = tmpArr;
      this.loading = false;
    },

    async parseName(name) {
      let no = name.split("_");
      no[2] = no[2].split(".java")[0];

      let tmp = await SolvedAcService.getLevel(no[1]);
      let level = tmp.data.level;
      no.push(level);
      return no;
    },

    toDate(str) {
      let date = new Date(str);
      return date;
    },
    goURL(url) {
      location.href = url;
    },
    async getTodayAlgorithmSolved() {
      let tmp = await GitlabService.getTodayCommitAlgorithm();
      this.todaySolved = tmp.data;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card {
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.mark {
  color: #ffffff;
}

.day {
  fill: rgb(237, 237, 237);
}

.blink-shadow {
  animation: blink-shadow 5s linear infinite;
}
@-webkit-keyframes blink-shadow {
  0% {
    filter: drop-shadow(0 8px 8px #ffffff);
  }
  50% {
    filter: drop-shadow(0 8px 8px rgb(44, 39, 39));
  }
  100% {
    filter: drop-shadow(0 8px 8px #ffffff);
  }
}
</style>
