<template>
  <div>
    <!-- <textarea v-model="input" @input="convert"></textarea> -->
      <div v-html="md" class="text-xs-left"></div>
  </div>
</template>

<script>
import marked from "marked";
import GitlabService from "../services/GitlabService";

export default {
  props: {
    dir : String,
    file : String,
  },
  data() {
    return {
      input: null,
      md: null
    };
  },
  watch:{
    file:function () {
      this.test();
    }
  },
  mounted() {
    this.test();
  },
  methods: {
    async test() {
      let folder = this.dir + "%2f";
      let file = this.file;
      let tmp = await GitlabService.getPost(folder + file);
      let content = tmp.data.content;

      this.input = decodeURIComponent(
        atob(content)
          .split("")
          .map(function(c) {
            return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
          })
          .join("")
      );
      this.convert();
    },

    convert() {
      this.md = marked(this.input, { sanitize: true });
    }
  }
};
</script>