<template>
  <v-app>
    <h1>{{$route.params.dir}}</h1>
    <v-data-table
      dark
      :headers="headers"
      :items="posts"
      :loading="loading"
      :pagination.sync="paging"
      class="elevation-1"
    >
      <template v-slot:no-data>
        <v-progress-circular indeterminate color="orange" class="my-3"></v-progress-circular>
      </template>
      <template v-slot:items="props" >
        <td class="text-xs-left hand" >{{props.item.date}}</td>
        <td class="text-xs-left hand" @click="view(props.item.name)">{{props.item.name}}</td>
      </template>
    </v-data-table>
    <br>
    <Post :dir="$route.params.dir" :file.sync="selFile" :show="show"></Post>
  </v-app>
</template>

<script>
import GitlabService from "../services/GitlabService";
import Post from "./Post";
export default {
  components: {
    Post
  },
  data() {
    return {
      loading: false,
      posts: [],
      headers: [
        { text: "게시일", sortable: true, value: "date" },
        { text: "제목", sortable: false, value: "title" }
      ],
      paging: {
        rowsPerPage: 10
      },
      selFile: "test02.md",
      show: true
    };
  },
  mounted() {
    this.getPostList();
  },
  methods: {
    async getPostList() {
      this.posts = await GitlabService.getPostList(this.$route.params.dir);
    },
    goURL(list, name) {
      this.$router.push({ path: '/post/' + list + '/' + name })
    },
    view(file){
      this.selFile = file;
      this.show = !this.show;
    }
  }
};
</script>

<style scoped>
.hand {
  cursor: pointer;
}
</style>