<template>
  <v-footer dark height="auto">
      <v-card  flat tile class="flex white--text text-xs-center">
        <v-card-text class="white--text pt-3">
          <p>Powered by Vue Vuetify GitLab</p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-text class="white--text">
          since 2019.12 — 2020.01
          <strong>Kimseonili</strong>
          <br/>
          ksl930425@gmail.com
        </v-card-text>
      </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scope>
Footer{
  margin-top:200px; 
}
</style>