<template>
<header>
  <v-toolbar dark color="#292961">
    <v-toolbar-side-icon></v-toolbar-side-icon>

    <v-toolbar-title class="white--text">김선일의 Blog</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn flat to="/">Project</v-btn>
      <v-btn flat to="/algorithm">Algorithm</v-btn>
      <v-btn flat to="/posts">Posts</v-btn>
      <v-btn flat to="/aboutMe">About Me</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scope>
Header {
  margin-bottom: 100px;
}
</style>