<template>
  <div class="hello" v-show="!loading">
    <h1>랜딩페이지로 바뀔 영역입니다</h1>
      <v-container fluid grid-list-lg>
        <v-layout row wrap>
          <v-flex xs4 v-for="project in projects" v-bind:key="project.id" class ="card">
            <v-card >
              <v-layout>
                <v-flex xs5>
                  <v-img src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/15515687/favicon.png" height="125px" contain></v-img>
                </v-flex>
                <v-flex xs7>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline">{{project.name}}</div>
                      <div>{{project.description}}</div>
                      <div>{{toDate(project.created_at)}}</div>
                    </div>
                  </v-card-title>
                </v-flex>
              </v-layout>
              <v-divider light></v-divider>
              <v-card-actions class="pa-3">
                <div>
                  <v-btn flat color="white" @click="goURL(project.http_url_to_repo)">REPOSITORY</v-btn>
                </div>
                <!-- Rate this album -->
                <v-spacer></v-spacer>
                <v-icon>star_border</v-icon>
                <v-icon>star_border</v-icon>
                <v-icon>star_border</v-icon>
                <v-icon>star_border</v-icon>
                <v-icon>star_border</v-icon>
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-flex xs12>
            <v-card color="purple" class="white--text">
              <v-layout row>
                <v-flex xs7>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline">Halycon Days</div>
                      <div>Ellie Goulding</div>
                      <div>(2013)</div>
                    </div>
                  </v-card-title>
                </v-flex>
                <v-flex xs5>
                  <v-img
                    src="https://cdn.vuetifyjs.com/images/cards/halcyon.png"
                    height="125px"
                    contain
                  ></v-img>
                </v-flex>
              </v-layout>
              <v-divider light></v-divider>
              <v-card-actions class="pa-3">
                Rate this album
                <v-spacer></v-spacer>
                <v-icon>star_border</v-icon>
                <v-icon>star_border</v-icon>
                <v-icon>star_border</v-icon>
                <v-icon>star_border</v-icon>
                <v-icon>star_border</v-icon>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    <br />
  </div>
</template>

<script>
import GitlabService from "../services/GitlabService";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      projects: [{}],
      posts: [],
      loading: true
    };
  },
  mounted() {
    this.getProjects();
    this.loading = false;
  },
  methods: {
    async getProjects() {
      let tmp = await GitlabService.getProjects();
      this.projects = tmp.data;
    },
    toDate(str) {
      let date = new Date(str);
      return date;
    },
    goURL(url){
      location.href = url;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.card{
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
