<template>
  <v-app>
    <v-toolbar dark class="hidden-md-and-up" app>
      <v-toolbar-side-icon @click="show = !show"></v-toolbar-side-icon>

      <v-toolbar-title class="white--text">Kimseonili</v-toolbar-title>

      <v-spacer></v-spacer>
      <!-- <v-toolbar-items v-for="item in items" :key="item.title">
        <v-btn small flat icon:to="item.router">
          <v-icon>{{item.icon}}</v-icon>
          <div class="hidden-xs-only ml-1">{{item.title}}</div>
        </v-btn>
      </v-toolbar-items>-->
    </v-toolbar>

    <v-navigation-drawer
      app
      dark
      fixed
      mobile-break-point="960"
      :permanent="show"
      :temporary="show"
    >
      <v-toolbar flat>
        <v-list>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title class="title">김선일의 Blog</v-list-tile-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn small flat icon class="hidden-md-and-up" @click.stop="show = !show">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-tile
          v-for="item in items"
          :key="item.title"
          :to="item.router"
          @click.stop="show = false"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-group prepend-icon="ballot" no-action>
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-title>Posts</v-list-tile-title>
            </v-list-tile>
          </template>
          <v-list-tile v-for="(post, i) in posts" :key="i" :to="'/post/' + post.name">
            <v-list-tile-action>
              <v-icon>{{post.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{post.name}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-container>
      <v-content>
        <router-view :key="$route.fullPath" />
      </v-content>
    </v-container>
    <v-content>
      <Footer></Footer>
    </v-content>
  </v-app>
</template>

<script>
import Footer from "./Footer";
import GitlabService from "../services/GitlabService";

export default {
  components: {
    Footer
  },
  data() {
    return {
      show: false,
      items: [
        { title: "About Me", icon: "info", router: "/aboutMe" },
        {
          title: "Algorithm",
          icon: "assignment_turned_in",
          router: "/algorithm"
        },
        { title: "Projects", icon: "question_answer", router: "/" }
        // { title: "Posts", icon: "ballot", router: "/posts" }
      ],
      posts: [
        // { title: "JAVA", icon: "fab fa-java", route:"/java" },
        // { title: "Vue.js", icon: "fab fa-vuejs", route:"/vue" },
        // { title: "JavaScript", icon: "fab fa-js-square", route:"/js" }
      ]
    };
  },
  mounted() {
    let self = this;
    GitlabService.getPostTitle().then(function(data) {
      self.posts = data.data;
      console.log(self.posts);
    });
  },
  methods: {}
};
</script>