<template>
  <v-layout black align-start column>
    <span v-for="(t, i) in printedText" :key="i" :class="`${t.color}--text`">
      &nbsp;{{t.context}}
      <span v-show="t.show">{{textCursor}}</span>
    </span>
  </v-layout>
</template>

<script>
export default {
  props: {
    text: String,
    timeout: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      splitedText: [],
      printedText: [],
      textCursor: "█",
      interval: null
    };
  },
  mounted() {
    this.tokenize();
    let self = this;
    setTimeout(function() {
      self.cursorShow = true;
      self.print(0, 0);
    }, this.timeout);
  },
  methods: {
    tokenize() {
      this.splitedText = this.text.split("$");
      for (let i = 0; i < this.splitedText.length; i++) {
        let textColor = "white";
        let textStart = "$ ";
        if (this.splitedText[i].startsWith("//")) {textColor = "green"; textStart = " "}
        this.printedText.push({ context: textStart, show: false, color: textColor });
      }
      this.printedText[0].show = true;
    },
    print(i, idx) {
      let self = this;
      if (idx == this.splitedText.length) {
        this.interval = setInterval(function() {
          self.printedText[idx - 1].show = !self.printedText[idx - 1].show;
        }, 500);
        return;
      } else if (
        idx < this.splitedText.length &&
        i == this.splitedText[idx].length
      ) {
        this.printedText[idx].show = false;
        this.print(0, idx + 1);
        return;
      }
      this.$set(this.printedText, idx, {
        context:
          this.printedText[idx].context + this.splitedText[idx].charAt(i),
        show: true,
        color: this.printedText[idx].color
      });
      setTimeout(function() {
        self.print(i + 1, idx);
      }, 70);
    }
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
};
</script>
