<template>
  <div id="app">
    <NavigationBar></NavigationBar>
  </div>
</template>

<script>
import NavigationBar from "./components/NavigationBar";

export default {
  name: "app",
  components: {
    NavigationBar
  },
  mounted() {}
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background-color: rgb(44, 39, 39); 
}
</style>
